* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: black;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-p {
  text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.8);
}

.cover-image-main {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.cover-image-comics {
background-color: white;
background-repeat: no-repeat;
background-size: cover;
}
.cover-image-events {
background-color: white;
background-repeat: no-repeat;
background-size: cover;
}
.cover-image-characters {
background-color: white;
background-repeat: no-repeat;
background-size: cover;
}
.cover-image-creators {
background-color: white;
background-repeat: no-repeat;
background-size: cover;
}

.cover-image-no-results {
background-color: white;
background-repeat: no-repeat;
background-size: cover;
}

.default-image {
    max-width: 20rem;
    border-radius: 20%;
}

.good-image {
    max-width: 20rem;
    border-radius: 20%;
}
